# Data Types in R

**Note:** Before starting this section important slogans in R that we must know is:  
1. Everything that exists is an object.
2. Everything that happens is a function call.

**Basic data types in R**  
R has five basic data types, viz., character, numeric(real or decimal), integer,
logical, complex.  
**Note:** These data types are also known as classes.

**Different functions in R that provides features of vectors and objects**  
class(), typeof(), length(), attributes(), mode(), storage.mode().

## Numerical Class:
Decimal values are called numerics in R. It is the default computational data type. If we assign a decimal value to a variable x as follows, x will be of numeric type.  
Example:

In [1]:
x=10.5 #assign a decimal value
x #print the value of x

[1] 10.5

In [2]:
class(x) #print the name of x

[1] "numeric"

Furthermore, even if we assign an integer to a variable k, it is still being saved as a numeric
value.

In [3]:
k=1 #assign value
class(k) #print the class name

[1] "numeric"

The fact that k is not an integer can be confirmed with the is.integer function. We will
discuss how to create an integer in our next tutorial on the integer type.

In [4]:
is.integer(k)

[1] FALSE

## Integer Class: 
In order to create an integer variable in R, we invoke the integer function as shown
in example below:

In [5]:
y=as.integer(3)
y #print the value of y

[1] 3

In [6]:
class(y) #print the class name of y

[1] "integer"

In [7]:
is.integer(y) #is y an integer?

[1] TRUE

**We can also declare an integer by appending an L suffix**

In [8]:
y=4L
is.integer(y)

[1] TRUE

**Coercing a numeric value into an integer in R**  
We can coerce a numeric value into an integer with the as.integer function.

In [9]:
#Example:
as.integer(3.14)

[1] 3

**Parsing a string for decimal values in R**  
We can parse a string for decimal values with the as.integer function.

In [10]:
#Example:
 as.integer("5.27")

[1] 5

## Complex Class:
A complex value in R is defined via the pure imaginary value i

In [11]:
z=1+2i #create a complex number
z #print the value of z

[1] 1+2i

In [12]:
class(z) #class name of z

[1] "complex"

## Logical Class:
A logical value is created via comparison between variables. Standard logical operations are “&” (and), “|” (or), and “!” (negation).

In [13]:
#assigning logical values
u = TRUE
v = FALSE

In [14]:
u & v #u and v

[1] FALSE

In [15]:
u | v #u or v

[1] TRUE

In [16]:
! u #negation of u

[1] FALSE

In [17]:
#Example with other operator
x=1
y=2
z=x>y #is x larger than y?
z  #value of z

[1] FALSE

In [18]:
class(z) #class name of z

[1] "logical"

## Character Class:
A character object is used to represent string values in R. We convert objects into
character values with the as.character() function

In [19]:
#Example
x=as.character(3.14) #turning number into character
x

[1] "3.14"

In [20]:
class(x) #checking the class

[1] "character"

### paste()
Two character values can be concatenated with the paste function.

In [21]:
#Example:
n="Prasad"
m="Posture"
paste(n,m)

[1] "Prasad Posture"

### substr()
We apply the substr() function to extract a substring

In [22]:
#Example
str="Mary has a little lamb." #main string
substr(str, start=3, stop=12) #extracting the substring

[1] "ry has a l"

### sub()
We apply the sub() function to replace the first occurrence of the word.  
**syntax:** sub(word want to replace, word that is going to replace, original string)

In [23]:
str="Mary has a little lamb." #main string
sub("little", "big", str) #

[1] "Mary has a big lamb."

**Remark: It is often more convenient to create a readable string with the sprintf function,
which has a C language syntax.**

In [24]:
#Example:
sprintf("%s has %d dollars", "Prasad", 100)

[1] "Prasad has 100 dollars"

In [25]:
#Example
sprintf("%s dances really good","MJ")

[1] "MJ dances really good"

The End