# Vectors
Vectors have a structure and a type. There are two type of vector viz., **atomic
vectors** and **lists**.

### Atomic Vector
An atomic vector in R is a vector which holds data of single data types. The
basic atomic vector are of type character, numeric, integer, logical.  
**Notation:** By vector we mean atomic vector.

### Defining a vector
**For understanding the various methods used for defining a vector we will take an example of a vector x with values 1,2,3,4,5:**

Method1:By using a:c where a and c are intengers, the increment is taken as 1 by dedault.

In [1]:
x=1:5
x

[1] 1 2 3 4 5

Method2: When you want to create vector with more than one element, you should use c()
function which means to combine the elements into a vector.

In [2]:
x=c(1,2,3,4,5)
x

[1] 1 2 3 4 5

The above method can be used for defininig a vector from non-numerical data types as well.

In [3]:
g=c("male", "female")
g

[1] "male"   "female"

Method3: Using seq() function. It takes arguements 'from,to and by' indicating from where to start where to end and what the increment should be.

In [4]:
x=seq(from=1,to=5,by=1)
x

[1] 1 2 3 4 5

**Note:** If the final element specified does not belong to the sequence then it is discarded.

In [5]:
x=seq(from=3.8,to=11.4,by=1)
x

[1]  3.8  4.8  5.8  6.8  7.8  8.8  9.8 10.8

### Arithmetic Functions for Vectors in R

In [6]:
x=c(1,2,4,5,7,9,4) #We'll used those functions on this vector

**sum(x):** Calculates the sum of all values in x

In [7]:
sum(x)

[1] 32

**prod(x):** Calculates the product of all values in x

In [8]:
prod(x)

[1] 10080

**min(x):**Gives the minimum of all values in x

In [9]:
min(x)

[1] 1

**max(x):** Gives the maximum of all values in x

In [10]:
max(x)

[1] 9

**cumsum(x):** Gives the cumulative sum of all values in x

In [11]:
cumsum(x)

[1]  1  3  7 12 19 28 32

**cumprod(x):** Gives the cumulative product of all values in x

In [12]:
cumprod(x)

[1]     1     2     8    40   280  2520 10080

**cummin(x):** Gives the minimum for all values in x from the start of the vector
until the position of that value

In [13]:
cummin(x)

[1] 1 1 1 1 1 1 1

**cummax(x):** Gives the maximum for all values in x from the start of the vector
until the position of that value

In [14]:
cummax(x)

[1] 1 2 4 5 7 9 9

**diff(x):** Gives for every value the difference between that value and the next
value in the vector

In [15]:
diff(x)

[1]  1  2  1  2  2 -5

**length(x):** Gives the number of elements present in the vector

In [16]:
length(x)

[1] 7

### Other Functions for Vectors in R

**rep():**) It is used to repeat the complete vector a set number of times

In [17]:
#Example
x=c("Prasad","Sanket","Ashish")
rep(x,times=3) #repeat x three times

[1] "Prasad" "Sanket" "Ashish" "Prasad" "Sanket" "Ashish" "Prasad" "Sanket"
[9] "Ashish"

Repeating each value of x n-times:

In [18]:
#Example
rep(x,each=3)

[1] "Prasad" "Prasad" "Prasad" "Sanket" "Sanket" "Sanket" "Ashish" "Ashish"
[9] "Ashish"

Repeating particular value of a vector specified number of times
in R:

In [19]:
#Example
rep(x,times=c(2,1,3))#repeating first, second, third element of x twice, once and thrice respectively

[1] "Prasad" "Prasad" "Sanket" "Ashish" "Ashish" "Ashish"

length.out: The argument length.out is used to tell R how long you want it to be. R will
repeat the vector until it reaches that length, even if the last repetition is incomplete.

In [20]:
#Example
rep(x,length.out=10)

 [1] "Prasad" "Sanket" "Ashish" "Prasad" "Sanket" "Ashish" "Prasad" "Sanket"
 [9] "Ashish" "Prasad"

**Extracting values from vector:** We can use square brackets [ ] to extract a value from that
vector

In [21]:
n=10:1
n

 [1] 10  9  8  7  6  5  4  3  2  1

In [22]:
n[8] #gives eigth element of the n vector

[1] 3

In [23]:
n[c(4,2,8)] #gives fourth, second and eighth element of the n vector

[1] 7 9 3

**Dropping indices from the vector:** We can use - inside [] for droping the indices.

In [24]:
n[-8]#gives vector without 8th element

[1] 10  9  8  7  6  5  4  2  1

In [25]:
n[-c(4,2,8)]#gives vector without 4rth. 2nd and 8th element

[1] 10  8  6  5  4  2  1

**Changing value of variable inside vector:** We use c[(indices of element to be changed)]=new value

In [26]:
n=1:8
n

[1] 1 2 3 4 5 6 7 8

In [27]:
n[2]=8
n

[1] 1 8 3 4 5 6 7 8

In [28]:
n[c(1,2,4)]=0
n

[1] 0 0 3 0 5 6 7 8

**Logical Indexing:** It is used for printing the element for whom we have assigned logical values as True.

In [29]:
days=c("mon","tue","wed","thu","fri","sat","sun")
asn=days[c(TRUE,TRUE,FALSE,TRUE,FALSE,TRUE,TRUE)]
print(asn)

[1] "mon" "tue" "thu" "sat" "sun"

In [30]:
days=c("mon","tue","wed","thu","fri","sat","sun")
asn=days[c(1,0,0,1,0,0,1)]
print(asn)

[1] "mon" "mon" "mon"

**nchar():** The nchar() function is find out how many characters are in the text including
blank spaces.

In [31]:
x="Prasad Posture"
nchar(x)

[1] 14

In [32]:
x=c("Prasad","Posture")
nchar(x)#gives character from individual elements

[1] 6 7

**head():** It is use to print elements from the left end of a vector.

In [33]:
x=c("Jai Hind","A","B","C")
x

[1] "Jai Hind" "A"        "B"        "C"

In [34]:
head(x,2)#first two values of x

[1] "Jai Hind" "A"

**tail():** It is use to print elements from the right end of a vector.

In [35]:
tail(x,2)

[1] "B" "C"

**sort():** It arranges a character vector in lexicographically order and numeric vector in ascending order.

In [36]:
sort(x)

[1] "A"        "B"        "C"        "Jai Hind"

In [37]:
y=c(23,534,12,36,32,98,6453,221)
sort(y)

[1]   12   23   32   36   98  221  534 6453

## List
A list is an R-object which can contain many different types of elements
inside it like vectors, functions and even another list inside it.

In [38]:
#Example
L1=list(c(2,5,3),21,3.14,sin)
L1

[[1]]
[1] 2 5 3

[[2]]
[1] 21

[[3]]
[1] 3.14

[[4]]
function (x)  .Primitive("sin")

The End